@charset "utf-8";
header nav a:nth-child(4){
    background: url(../images/nav_bg02.png)no-repeat left 50% top -25px; 
}
.banner img{
    width: 100%;
}
.middle_nav{
    margin-bottom: 12px;
    color: #777;
    font-size: 14px;
    line-height: 52px;
    border-bottom: 2px solid #eee; 
}
.middle_nav a{
    color: #777;

}
.middle_nav a:hover,.prodisp_main_right p:hover{
    color: #0ff;
}
.news_main{
    margin-top: 35px;
}
.news_main_left{
    width: 260px;
}
.news_main_left a{
    text-align: center;
    display: block;
    width: 100%;
    background: #eeeded;
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 100px;
}
.news_main_left img{
    margin-top: 20px;
    width: 262px;
    height: 262px;
    cursor: pointer;
}
.news_main_right{
    box-sizing: border-box;
    width: 912px;
    font-size: 12px;
    line-height: 2em;
    color: #999;
}
.news_main_right h2{
    color: black;
    font: 400 15px/1em 微软雅黑;
    padding: 10px 0 0 0;
}
.news_main_right p{
    color: #777;
    font-size: 14px;
    line-height: 1.5em;
    padding-bottom: 22px;
    border-bottom: 2px solid #eaeaea;
}
.page {
    font-size: 12px;
    margin: 60px 0;
    text-align: center;
}
.page span{
    color: black;
    margin-right: 10px; 
}
.page a{
    padding: 5px;
    border: 2px solid #eaeaea;
}
.page a:hover,.page a:nth-child(2){
    border:0;
    color: red;

}

